.home {
  margin: 0 auto;
  max-width: 992px;
}

.home-top-section {
  background-image: url("https://decentralized-mvp.s3.amazonaws.com/blog/home-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}